
.contact-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1230px;
}

.contact-form__heading h2 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    gap: 15px;
    margin-bottom: 18px;
}

.form__group-title {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.form__group-content {
    display: flex;
    justify-content: flex-start;
}

.form__label--required {
    margin-left: 6px;
    color: #FF6F6F;
}

.form__error {
    color: #ff0000;
    text-align: left;
}

.form__input--text-name,
.form__input--text,
.form__input--textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__input--text input,
.form__input--text-name input,
.form__input--text-tel input,
.select-group select,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: none;
    border-radius: 3px;
    appearance: none;
    height: 40px;
    background-color: #f4f4f4;
}

.name-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.form__input--text-name input {
    width: 285px;
}

.radio-group {
    display: flex;
    gap: 50px;
}

.radio {
    display: flex;
    align-items: center;
}

.radio span {
    padding: 0 10px;
}

.radio input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #8B7969;
    border-radius: 50%;
    position: relative;
}

.radio input:checked {
    background-color: #8B7969;
}

.gender__error {
    color: #ff0000;
    margin-left: 10px;
    line-height: 40px;
}

.tel-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.tel-group span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B7969;
    padding: 0 4px;
}

.form__input--text-tel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__input--text-tel input {
    height: 40px;
    padding: 10px;
    width: 178px;
    background: #f4f4f4;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.select-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-group {
    width: 62.5%;
    display: block;
    margin: 0;
}

.select-inner {
    position: relative;
    width: 100%;
}

.select-inner select {
    color: #8B7969;
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 56px 8px 12px;
    background: #f4f4f4;
    border: none;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 2px solid transparent;
    transition: outline-color .2s;
}

.select-inner .select-arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #BEB1A6;
    pointer-events: none;
}

.select__error {
    color: #ff0000;
    margin-top: 6px;
    text-align: left;
    width: 62.5%;
    white-space: nowrap;
}

.form__input--textarea textarea {
    height: 130px;
    resize: vertical;
}

.form__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form__button-submit {
    padding: 10px 40px;
    font-size: 20px;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8B7969;
    color: #fff;
    cursor: pointer;
}